<footer>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
                <h3>Quienes somos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem cumque laboriosam sequi ea voluptas odit, facilis animi a totam exercitationem libero quibusdam temporibus, cupiditate pariatur nesciunt aspernatur suscipit dolorum?</p>
            </div>

            <div class="col-12 col-sm-12 col-md-3">
                <h3>Links de interes</h3>
                <div class="itemlink">Destino 1</div>
                <div class="itemlink">Destino 2</div>
                <div class="itemlink">Destino 3</div>
                <div class="itemlink">Destino 4</div>
                <div class="itemlink">Destino 5</div>
            </div>

            <div class="col-12 col-sm-12 col-md-3">
                <h3>Horarios</h3>
                <div class="itemhorarios">Lunes 8:00 am</div>
                <div class="itemhorarios">Martes 8:00 am</div>
                <div class="itemhorarios">Miercoles 8:00 am</div>
                <div class="itemhorarios">Jueves 8:00 am</div>
                <div class="itemhorarios">Viernes 8:00 am</div>            
            </div>

            <div class="col-12 col-sm-12 col-md-3">
                <h3>Quienes somos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem cumque laboriosam sequi ea voluptas odit, facilis animi a totam exercitationem libero quibusdam temporibus, cupiditate pariatur nesciunt aspernatur suscipit dolorum?</p>
            </div>

        </div>
    </div>
</footer>
