<div class="decoracion">
  <div imgFooter>
  <img id="imgFooter" src="assets/footerFinal.png" alt="Imagen decoración">
  </div>
</div>     

<footer>
  <div class="container">
    <div class="row">
      
      <!--Quiénes somos-->
      <div class="col-12 col-sm-12 col-md-4">
        <h3>Quienes somos</h3>
       <p>
        En Munplant, somos un equipo apasionado por la naturaleza y comprometido con el cuidado del medio ambiente. Nos dedicamos a ofrecer plantas de calidad, macetas ecológicas y soluciones que contribuyen a embellecer tu hogar mientras fomentamos prácticas sostenibles que protegen nuestro planeta.
       </p>
    </div>

      <!--Horarios-->
      <div class="col-12 col-sm-12 col-md-4">
        <h3>Horarios</h3>
        <div class="itemhorarios">Lunes 8 A.M.- 6 P.M.</div>
        <div class="itemhorarios">Martes 8 A.M.- 6 P.M.</div>
        <div class="itemhorarios">Miercoles 8 A.M.- 6 P.M.</div>
        <div class="itemhorarios">Jueves 8 A.M.- 6 P.M.</div>
        <div class="itemhorarios">Viernes 8 A.M.- 6 P.M.</div>
        <div class="itemhorarios">Sabado 8 A.M.- 1 P.M.</div>            
    </div>

       <!--Contactenos-->
       <div class="col-12 col-sm-12 col-md-4">
        <div class="columna_contacto">
            <h5>Contacto</h5>
            <img id="telefono" src="assets/telefono_2.png" alt="Imagen icono telefono">
            <div>
              <p class="p_pie_2">+57 3167500692</p>
            </div>
            <img id="email" src="assets/email_2.png" alt="Imagen icono email">
            <div>
              <p class="p_pie_2">contactoconvar.com</p>
            </div>
            <img id="location" src="assets/location_2.png" alt="Imagen icono localicación">
            <div>
              <p class="p_pie_2">Bogotá D.C</p>
          </div>
            <img id="instagram"  src="assets/instagram_2.png" alt="Imagen icono Instagram">
            <div>
              <p class="p_pie_2">mund_plant</p>
            </div>
            <img id="facebook" src="assets/facebook_2.png" alt="Imagen icono facebook">
            <div>
              <p class="p_pie_2">Munplant oficial</p>
            </div>
        </div>
    </div>

    </div>
  </div>
</footer>