<div id="menu">
    <div class="datosUsuarios">
        <img src="./assets/user.png" alt="Logo de usuario">
        <div class="lblNombre">Jonatan Lombo</div>
        <div class="lblRol">Administrador</div>
    </div>


<div class="opciones">
    <div class="item_opciones" routerLink="/dashboard">Dashboard</div>
    <div class="item_opciones" routerLink="/usuarios">Usuarios</div>
    <div class="item_opciones" routerLink="/productos">Productos</div>
    <div class="item_opciones" routerLink="/servicios">Servicios</div>
    <div class="item_opciones" routerLink="/categorias">Categorias</div>
    <div class="item_opciones" routerLink="/login">Logout</div>
</div>

</div>

<div class="barraSuperior"></div>