<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="quienesSomos">
                <h1>¿Quiénes somos?</h1>
                <p>{{datos.text_1}}<!--Somos un equipo apasionado por la naturaleza y comprometido con el cuidado del medio ambiente. Nos dedicamos a ofrecer plantas de calidad, macetas ecológicas y soluciones que contribuyen a embellecer tu hogar mientras fomentamos prácticas sostenibles que protegen nuestro planeta.
                    Nuestra misión es clara: inspirar a las personas a conectar con la naturaleza y darles las herramientas para hacerlo de manera responsable. Creemos que un pequeño gesto, como cuidar una planta o elegir productos eco-amigables, puede generar un gran impacto.
                    Además de brindar productos de excelencia, nos enorgullece liderar iniciativas sociales que promueven la reforestación y la educación ambiental. A través de nuestras jornadas de siembra y actividades comunitarias, invitamos a todos a unirse a nosotros en la creación de un futuro más verde y saludable para todos.
                    En Mundplant, nos guiamos por valores de sostenibilidad, respeto por la naturaleza y responsabilidad social, buscando siempre la mejor forma de hacer que el mundo y nuestros hogares se llenen de vida, de verde y de esperanza.
                    ¡Únete a nosotros y forma parte de este movimiento verde!-->
                </p>
            </div>
            <div class="consejos">
                <h1>Consejos para el cuidado de tus plantas</h1>               
                <p>{{datos.text_2}}<!--• Riego adecuado: No todas las plantas necesitan la misma cantidad de agua. Asegúrate de conocer las necesidades específicas de cada una. Recuerda que el exceso de agua puede ser tan perjudicial como la falta de ella, así que deja que el sustrato se seque ligeramente entre riegos.</p>
                <p>• Luz natural: Las plantas necesitan luz para realizar la fotosíntesis, pero no todas requieren la misma cantidad. Algunas prefieren luz indirecta, mientras que otras disfrutan de la luz directa del sol. Ubica tus plantas según sus necesidades de luz para garantizar su crecimiento saludable.</p>
                <p>• Temperatura constante: La mayoría de las plantas prefieren temperaturas constantes. Evita ubicarlas cerca de fuentes de calor como calefactores, radiadores o corrientes de aire que puedan estresar la planta.</p>
                <p>• Fertilización: Durante la temporada de crecimiento (primavera y verano), fertiliza tus plantas cada 4-6 semanas con un abono adecuado. Esto les proporciona los nutrientes esenciales para su desarrollo. En otoño e invierno, reduce la frecuencia de fertilización, ya que las plantas entran en una fase de descanso.</p>
                <p>• Podas y mantenimiento: Realiza podas periódicas para eliminar hojas secas o dañadas. Esto no solo mejora el aspecto de la planta, sino que también favorece un crecimiento más saludable.</p>
                <p>• Humedad: Muchas plantas de interior, como las tropicales, necesitan un ambiente más húmedo. Si tu hogar es muy seco, puedes colocar las plantas en una bandeja con piedras y agua para aumentar la humedad, o usar un humidificador cerca de ellas.</p>
                <p>• Cambio de maceta: A medida que tus plantas crecen, puede que necesiten más espacio para expandirse. Si notas que las raíces salen por los agujeros de drenaje o que la planta está muy apretada en su maceta, es hora de trasplantarla a una más grande.</p>
                <p>Siguiendo estos sencillos consejos, tus plantas estarán felices y saludables, ¡y podrás disfrutar de un entorno verde y lleno de vida en tu hogar!--></p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>