<app-header></app-header>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{{datos.imagen}}" alt="Imagen sin adjunto">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{datos.nombre}}</h1>
                <div class="descripcion">{{datos.descripcion}}</div>
                <h3>El valor de producto es ${{datos.precio}}</h3>
                <a href="https://wa.me/+573167500692?text=Me interesa comprar {{datos.nombre}} que tiene el precio de ${{datos.precio}}" target="_blank">
                <div class="btn btn-primary">Comprar</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Datos tecnicos</h2>
                <div class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magni incidunt optio recusandae totam ducimus ipsa doloribus nisi asperiores reiciendis. Atque vel doloremque fugiat quia deserunt. Officia placeat provident excepturi?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Opiniones de clientes</h2>
                <div class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magni incidunt optio recusandae totam ducimus ipsa doloribus nisi asperiores reiciendis. Atque vel doloremque fugiat quia deserunt. Officia placeat provident excepturi?</div>
            </div>
        </div>



    </div>

<app-footer></app-footer>