/* You can add global styles to this file, and also import other style files */
.ventanaTrabajo{
    margin-top: 40px;
}
   

/*.tituloVentana {
    width: 100%;
    background: antiquewhite;
    border-radius: 20px;
    font-size: 16px;
    font-style: oblique;
    text-align: center;
    margin-top: 3px;
    font-weight: 600;
    margin-bottom: 4px;
}*/

.tituloVentana{
    text-align: center;
    color: white;
    margin-top: -33px;
}

body{
    background-color: #F4EFE9;
    color: black;
    font-size: 16px;
    font-family: "Anuphan", sans-serif;
    font-weight: 300;
}
